#wrapper{
    width: 960px;
    padding: 3px;
    border: 1px solid gray;
    margin: auto;
}
#menu {
    list-style-type: none;
    margin: auto;
    width: 700px;

}
#menu li {
    float: left;
    width: 200px;
    padding: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 14px;
}
#menu li a:visited,#menu li a {
    color: white;
}
#menu li a:hover {
 color: red;
}
.clear {
clear: both;
}
#cnt_msg {
 color: red;
 font-size: 15px;
}
