{% extends "base_layout.html" %}

{%block title%}
About
{%endblock%}
{%block content%}
<p>
Hi. I'm Jeyson M. I'm a software developer and computer science student from Colombia. This blog is about smalland useful code snippets I create or find while learning more about image processing and computer vision (my study field) specially, but not limited, OpenCV's cv2 python interface which is a great tool to create computer vision algorithms quickly and clearly (because of Python naturally!). I hope you find this site helpful. If you need to know more about it or have any suggestion you can contact me using the <a href='/contact/'>Contact form</a>  or writing me to jey.mco at gmail dot com.
<br><br>
This site was built with Django!.
</p>
{%endblock%}
