<html>
    <head>
        <title>FalsePixel V0.1</title>
        <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}css/main.css'/>
    </head>
    <body>
        <div id='wrapper'>
        <div id='main_logo'>
            <img src='{{STATIC_URL}}falsepixel_logo.png'>
        </div>
        <ul id='menu'>
            <li><a href='/blog/'> /root </a></li>
            <li><a href='/blog/about/'> About </a></li>
            <li><a href='/contact/'>Contact</a></li>
        </ul>
        <div class='clear'></div>
        <div>
        {%block content%}
        {%endblock%}
        </div>
        <div id='footer'>
            <b> 2012</b>
        </div>
    </div>
    </body>
</html>
