{% extends "base_layout.html" %}

{%block title%}
Entries
{%endblock%}

{%block content%}
<ul id='elist'>
{% for entry in entries %}
<li>
<h3><a href='/blog/article/{{entry.id}}'>{{entry.title}}</a></h3>
    <span class='edate'>({{entry.pub_date}})</span>
    <div>{{entry.preview}}...<a href='/blog/article/{{entry.id}}'>Read more.</a></div>
</li>
{%endfor%}
</ul>
<div>
    {%if has_next  %}
        <a href='/blog/{{next_page}}/'>Older Entries</a>
    {%endif%}
    
    {%if has_prev  %}
        <a href='/blog/{{prev_page}}/'>Newer Entries</a>
    {%endif%}
    <br>
 <span id='cpage'>Current Page:
    {%ifequal cur_page 1 %}front{%else%}{{cur_page}}{%endifequal%}.</span>
</div>
{%endblock%}
