{% extends "base_layout.html" %}

{%block content%}
<a href='/blog'>back</a>
<br>
<h3>{{entry.title}}</h3>
<span>{{entry.pub_date}}</span>
<div>
    {{entry.parsed_content}}
</div>

<h4>Comments</h4>
<span id='cnt_msg'>{{msg}}</span>
<form method='post' action='/blog/article/{{entry.id}}'>
    {% csrf_token %}
    Name: {{cform.author}}<br>
    Message: {{cform.message}}<br>
    Type what you see: <img src='/blog/captcha/?i={{rn}}'/> {{cform.captcha}}
    <br>
    <input type='submit' value='Submit'/>
</form>
<div>
    <ul>
        {% for comment in comments %}
        <li>{{comment.pub_date}} <span>{{comment.author}}</span> said: <p>{{comment.content}}</p></li>
        {%endfor%}
    </ul>
</div>

{%endblock%}
