{% extends "base_layout.html" %}

{%block content%}
<h2>Entry list</h2>
<ul>
{% for entry in entries %}
<li>
<h3><a href='/blog/article/{{entry.id}}'>{{entry.title}}</a></h3>
    <span>({{entry.pub_date}})</span>
    <div>{{entry.preview}}...<a href='/blog/article/{{entry.id}}'>Read more.</a></div>
</li>
{%endfor%}
</ul>
<div>
    {%if has_next  %}
        <a href='/blog/{{next_page}}/'>Older Entries</a>
    {%endif%}
    
    {%if has_prev  %}
        <a href='/blog/{{prev_page}}/'>Newer Entries</a>
    {%endif%}
    <br>
    Page {{cur_page}}
</div>
{%endblock%}
